body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black; /* Set black background */
    color: white; /* Set white font color */
    font-family: Arial, sans-serif; /* Use minimalist font */
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    white-space: nowrap;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

#navigation {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem; /* Adjusted font size for small navigation links */
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    white-space: nowrap;
}

#navigation a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    cursor: pointer;
}

#login-button, #logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-justify: right;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Center-align content */
}

#bmi-form {
    margin-bottom: 20px; /* Add spacing below the form */
}

#bmi-form label, #bmi-form input, #bmi-form button {
    display: block;
    margin: 10px auto; /* Center-align form elements */
}

.bmi-meter {
    margin: 0 auto 20px; /* Center-align BMI meter */
}

.bmi-meter-bar, .bmi-meter-result {
    color: white; /* Set white font color for BMI meter */
}

.post-details {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    overflow: auto;
    background-color: rgb(150, 150, 150);
    padding: 20px;
  }

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }


/* tab */
.tab {
    text-align: center;
    margin-top: 20px;
}

.tab button {
    background-color: rgb(255, 255, 255, 0.5);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.tab button.active {
    background-color: rgb(255, 255, 255);
}

.tabcontent {
    display: none;
    padding: 20px;
}


/* Form styling */
.replyBox {
    text-align: center;
}

form textarea {
    height: 250px;
    width: 500px;
}

.createPost {
    margin-left: 20px;
}

.postTitleInput {
    width: 400px;
}


/* Header styles */
h1 {
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: normal;
}

h2 {
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(100, 100, 100);
}

/* post title */
.postTitle {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.postDivider {
    height: 10px;
    width: 50%;
}

.deleteButtonBox {
    float: right;
}

/* reply */
.replyUser {
    display: inline-block;    
    color: rgb(100, 100, 100);
}

.replyMessage {
    display: inline-block;    
    margin-right: 20px;
}

/* button */
.styled-button {
    background-color: rgb(255, 255, 255, 0.5);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: white; /* Set white font color */
    font-family: Arial, sans-serif; /* Use minimalist font */
    font-size: 0.8rem; /* Adjusted font size for the button */
    /* margin: 0 20px; /* Adjusted margin */
}

.deleteButton {
    background-color: rgb(255, 255, 255, 0);
    border: none;
    outline: none;
    cursor: pointer;
    /* padding: 10px 20px; */
    /* transition: background-color 0.3s ease; */
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: rgb(134, 0, 0); /* Set white font color */
    font-family: Arial, sans-serif; /* Use minimalist font */
    font-size: 0.8rem; /* Adjusted font size for the button */
    font-weight: bold;
}