body {
      margin: 0;
      padding: 0;
      overflow: hidden; /* Hide overflow to prevent scroll bars */
      background-color: rgba(242, 242, 242, 0.8); /* Light translucent grey background */
    }
    
    #title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 1.5rem;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      white-space: nowrap;
    }
    
    /* Removed #video-background section */
    
    #navigation {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 0.8rem; /* Adjusted font size for small navigation links */
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      white-space: nowrap;
    }
    
    #navigation a {
      color: white;
      text-decoration: none;
      margin: 0 20px;
      cursor: pointer;
    }
    
    #login-button, #logout-button {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 0.8rem;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      white-space: nowrap;
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 100px; /* Added top margin to make room for the title and navigation */
    }
    
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: #4CAF50;
      color: white;
      font-weight: bold;
      font-size: 1rem; /* Adjusted font size for headers */
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    
    .workout-plan {
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
    }
    
    #time-scale {
      display: block;
      margin: 10px 0;
    }